<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281655354801-9smao91acdquv3nivhnddh9r8aeu5ur4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281655354801-9smao91acdquv3nivhnddh9r8aeu5ur4</string>
	<key>API_KEY</key>
	<string>AIzaSyBmGT32nviq1pXi33yYWStJU7yj_wVg3w4</string>
	<key>GCM_SENDER_ID</key>
	<string>281655354801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salonOwner</string>
	<key>PROJECT_ID</key>
	<string>salon-groom-app</string>
	<key>STORAGE_BUCKET</key>
	<string>salon-groom-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281655354801:ios:a06390fe540a13eef44990</string>
</dict>
</plist>